<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_CountryPopup>
            <version>0.1.0</version>
        </Kirchbergerknorr_CountryPopup>
    </modules>
    <frontend>
        <layout>
            <updates>
                <kk_country_popup>
                    <file>kk_country_popup.xml</file>
                </kk_country_popup>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <kk_country_popup>
                <class>Kirchbergerknorr_CountryPopup_Helper</class>
            </kk_country_popup>
        </helpers>
        <blocks>
            <kk_country_popup>
                <class>Kirchbergerknorr_CountryPopup_Block</class>
            </kk_country_popup>
        </blocks>
        <models>
            <kk_country_popup>
                <class>Kirchbergerknorr_CountryPopup_Model</class>
            </kk_country_popup>
        </models>
    </global>
    <default>
        <kk_country_popup>
            <general>
                <enable>1</enable>
                <cookie_name>country_popup</cookie_name>
            </general>
        </kk_country_popup>
    </default>
</config>